<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ asset('/styles/styles.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>
        {% block title %}
            Bienvenue
        {% endblock %}
        {# <i class="fa-solid fa-house text-light"></i>#}
    </title>
  </head>
  <body>

<div class="container-fluid bg-dark position-sticky sticky-top">
  <div class="row">
    <div class="col">
      <ul class="list-unstyled d-flex flex-row justify-content-center align-items-center mt-3">
                  <li class="me-3">
              <a href="#" class="text-decoration-none text-light">
                <img class="me-1 rounded" src="{{ asset('/img/WOW.svg') }}" style="width: 35px; height: 35px;" title="Accueil" alt="Accueil">
                <span class="inactive">SoD Phase 2</span>
              </a>
            </li>
        <li class="dropdown me-3">
          <a class="dropdown-toggle text-light  text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="me-1" src="{{ asset('/img/rune.png') }}" style="width: 24px; height: 24px;" title="Runes" alt="Runes"><span class="inactive">Runes</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item text-orange" href="#"><img class="me-2" src="{{ asset('/img/druid.png') }}" style="width: 24px; height: 24px;">Druid Runes</a></li>
            <li><a class="dropdown-item text-success" href="#"><img class="me-2" src="{{ asset('/img/hunter.png') }}" style="width: 24px; height: 24px;">Hunter Runes</a></li>
            {# <li><hr class="dropdown-divider"></li> #}
            <li><a class="dropdown-item text-info" href="#"><img class="me-2" src="{{ asset('/img/mage.png') }}" style="width: 24px; height: 24px;">Mage Runes</a></li>
            <li><a class="dropdown-item text-rose" href="#"><img class="me-2" src="{{ asset('/img/paladin.png') }}" style="width: 24px; height: 24px;">Paladin Runes</a></li>
            <li><a class="dropdown-item" href="#"><img class="me-2" src="{{ asset('/img/priest.png') }}" style="width: 24px; height: 24px;">Priest Runes</a></li>
            <li><a class="dropdown-item text-jaune" href="#"><img class="me-2" src="{{ asset('/img/rogue.png') }}" style="width: 24px; height: 24px;">Rogue Runes</a></li>
            <li><a class="dropdown-item text-primary" href="#"><img class="me-2" src="{{ asset('/img/shaman.png') }}" style="width: 24px; height: 24px;">Shaman Runes</a></li>
            <li><a class="dropdown-item text-violet" href="#"><img class="me-2" src="{{ asset('/img/warlock.png') }}" style="width: 24px; height: 24px;">Warlock Runes</a></li>
            <li><a class="dropdown-item text-marron" href="#"><img class="me-2" src="{{ asset('/img/warrior.png') }}" style="width: 24px; height: 24px;">Warrior Runes</a></li>
          </ul>
          </li>
            <li class="me-3">
              <a href="#" class="text-decoration-none text-light">
                <img class="me-1 rounded" src="{{ asset('/img/warcraftlog.jpg') }}" style="width: 24px; height: 24px;" title="Tier List & Builds" alt="Tier List & Builds">
                <span class="inactive">Tier List & Builds</span>
              </a>
            </li>
            <li class="me-3">
              <a href="#" class="text-decoration-none text-light">
                <img class="me-1" src="{{ asset('/img/talent.png') }}" style="width: 24px; height: 24px;" title="Talent Calculator" alt="Talent Calculator">
                <span class="inactive">Talent Calculator</span>
              </a>
            </li>
            <li class="dropdown me-3">
              <a class="dropdown-toggle text-light  text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="me-1 " src="{{ asset('/img/profession.png') }}" style="width: 24px; height: 24px;" title="Professions" alt="Professions">
                <span class="inactive">Professions</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/alchemy.png" style="width: 24px; height: 24px;">Alchemy</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/blacksmithing.png" style="width: 24px; height: 24px;">Blacksmithing</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/enchanting.png" style="width: 24px; height: 24px;">Enchanting</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/engineering.png" style="width: 24px; height: 24px;">Engineering</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/leatherworking.png" style="width: 24px; height: 24px;">Leatherworking</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/tailoring.png" style="width: 24px; height: 24px;">Tailoring</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/mining.png" style="width: 24px; height: 24px;">Mining</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/herbalism.png" style="width: 24px; height: 24px;">Herbalism</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/skinning.png" style="width: 24px; height: 24px;">Skinning</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/cooking.png" style="width: 24px; height: 24px;">Cooking</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/fishing.png" style="width: 24px; height: 24px;">Fishing</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/first-aid.png" style="width: 24px; height: 24px;">First Aid</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src="https://www.wow-professions.com/images/icons/professions/lockpicking.png" style="width: 24px; height: 24px;">Lockpicking</a></li>
              </ul>
            </li>
            <li class="dropdown me-3">
              <a class="dropdown-toggle text-light  text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="me-1" src="{{ asset('/img/dungeon.png') }}" style="width: 24px; height: 24px;" title="Dungeons" alt="Dungeons">
                <span class="inactive">Dungeons</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Ragefire Chasm</a></li>
                <li><a class="dropdown-item" href="#">The Deadmines</a></li>
                <li><a class="dropdown-item" href="#">Wailing Caverns</a></li>
                <li><a class="dropdown-item" href="#">Shadowfang Keep</a></li>
                <li><a class="dropdown-item" href="#">The Stockades</a></li>
                <li><a class="dropdown-item" href="#">Razorfen Kraul</a></li>
                <li><a class="dropdown-item" href="#">Razorfen Downs</a></li>
                <li><a class="dropdown-item" href="#">Scarlet Monastery</a></li>
                {# <li><hr class="dropdown-divider"></li> #}
              </ul>
              </li>
              <li>
              <a href="#" class="text-decoration-none text-light me-5">
                <img class="me-1" src="{{ asset('/img/quest.png') }}" style="width: 24px; height: 24px;" title="Pre-Questing" alt="Pre-Questing">
                <span class="inactive">Pre-Questing</span>
              </a>
            </li>
            <li>
              <form class="d-none d-lg-flex me-1" role="search">
                <input class="form-control form-control-sm me-1 text-light" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light btn-sm" disabled  type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bckground">
  <div class="row">
    <div class="col-lg-6 mx-auto text-center"> <!-- Utilise 6 colonnes sur les écrans d'ordinateur et centre le contenu -->
      <div class="card mt-5" style="width: 100%;">
        <img src="{{ asset('/img/fondecran.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 mx-auto text-center"> <!-- Utilise 6 colonnes sur les écrans d'ordinateur et centre le contenu -->
      <div class="card mt-5" style="width: 100%;">
        <img src="{{ asset('/img/fondecran.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>




        {# // <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        // <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        // <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        // <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        // <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    </body>
</html>

